version: "3.8"

services:
  api:
    build: .
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: shadow
      POSTGRES_PASSWORD: shadow
      POSTGRES_DB: shadowchat
    ports:
      - "5432:5432"